body{background-color: gray;


}
.postcard-head{
    font-family: 'Roboto', sans-serif;
    background-color:white;
    width:500px;
    height:15000px;
    margin: auto;
}

.head{
    max-width: 100%;width:100%;height:100px;background-color:white;margin:auto;
}

.title{

    margin:auto;
}


.image img{width:500px;height:500px;background-color:white;margin:auto}



.section-imagenes{
    background-color: blanchedalmond;
}