body{background-color: gray;


}
.postcard-head{
    font-family: 'Roboto', sans-serif;
    background-color:white;
    width:500px;
    height:3125px;
    margin: auto;
}

.heading{
 height:100px;background-color:white;margin:0px 0px;
}

.title{

    margin:auto;
}


.image img{width:500px;height:500px;background-color:white;margin:auto}



.section-imagenes{
    background-color: blanchedalmond;
}