body{background-color: rgb(219, 213, 213);


}
.postcard-head{
    font-family: 'Roboto', sans-serif;
    background-color:whitesmoke;
    width:500px;
    height:680px;
    margin: auto;
}

.heading{
 height:100px;
 background-color:white;
 margin:0px 0px;
 text-align: center;
 width:100%;
}

.title{

    margin:auto;
}


.image img{width:500px;height:600px;background-color:white;margin:auto}



.section-imagenes{
    background-color: blanchedalmond;
}